<div class="row">

    <div class="col-xs-6 col-sm-4">
        <div class="form-group">
            <div class="col-sm-12">
                <p class="form-control-static">{{ @right->rightId->label }}
                    <i class="fas fa-fw fa-sm fa-question-circle pf-help-light" title="{{ @right->rightId->description }}"></i>
                </p>
            </div>
        </div>
    </div>

    <set checked="" />
    <check if="{{ @right->active }}">
        <set checked="checked" />
    </check>

    <div class="col-xs-6 col-sm-4 text-right">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="checkbox checkbox-success">
                    <input id="form_personal_{{ (int)@character->_id }}_{{ (int)@right->rightId->_id }}"
                           name="rights[{{ (int)@right->rightId->_id }}][active]"
                           value="1"
                           type="checkbox"
                           {{ @checked }}>
                    <label for="form_personal_{{ (int)@character->_id }}_{{ (int)@right->rightId->_id }}">Allow</label>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="rights[{{ (int)@right->rightId->_id }}][id]" value="{{ (int)@right->_id }}">
    <input type="hidden" name="rights[{{ (int)@right->rightId->_id }}][rightId]" value="{{ (int)@right->rightId->_id }}">

</div>
